#리눅스 환경에서 나오는 값
.DS_Store
#주피터 노트북 사용하면 나오는 값
.ipynb_checkpoints/
#text_vector안에 있는 ~.npy 파일 크기가 커서 git에 안올라감
data/text_vector/*.npy
#모델 돌리면 나오는 파일
__pycache__
#wandb output json file
/wandb

#향후에 나오는 ignore값 추가시 주석 달아주세요.